extends ../components/base/layout

block variables
  - const title = "Доставка и оплата" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "shipping-and-payment-new.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.content
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +shipping-and-payment-new()

